<div id="editor" (keypress)="onKeyPressed($event)" (keydown)="onKeyDown($event)" tabindex="0">
  <div id="tool-panel">
    <app-color-picker [color]="color" (picked)="onColorPicked($event)"></app-color-picker>
    <app-tool-button *ngFor="let t of tools" [tool]="t" [active]="this.tool === t" (activate)="activateTool(t)"></app-tool-button>
  </div>
  <div id="drawing">
    <app-canvas #canvas [dimensions]="dimensions" [color]="color" [tool]="tool"></app-canvas>
  </div>
</div>
<div class="modal-container" (modalClose)="closeModal()">
  <app-modal-load #loadModal (loaded)="onLoadDrawing($event)"></app-modal-load>
  <app-modal-new #newModal (create)="onNewDrawing($event)"></app-modal-new>
  <app-modal-save #saveModal [drawing]="canvas.drawing"></app-modal-save>
</div>
