<div class="modal {{modal.displayState}}">
  <modal-header [title]="'Save'" [controller]="modal"></modal-header>
  <div class="modal-body">
    <ul>
      <li>
        <label>Type</label>
        <select [(ngModel)]="fileType">
          <option *ngFor="let t of fileTypes" [ngValue]="t">
            {{t.extension}}
          </option>
        </select>
      </li>
      <li><label>Name</label><input [(ngModel)]="fileName" /></li>
      <li><label>Scale</label><app-zoom-selector [zoom]="zoom" (select)="zoom = $event"></app-zoom-selector></li>
    </ul>
  </div>
  <div class="modal-footer">
    <modal-action [action]="'download'" (click)="download()"></modal-action>
  </div>
</div>
<div class="hidden">
  <a #downloadLink></a>
  <canvas #renderCanvas></canvas>
</div>
