#color-controls {
  display: inline-block;
  padding: 5px;

  canvas {
    border: 1px solid black;
    margin: 2px;
  }
}

#hex-color {
  font-family: monospace;
}

.split-column {
  & > div {
    width: 50%;
    padding: 0 5px;

    &:first-child {
      border-right: 1px solid #333;
      text-align: end;
    }
  }
}

#color-sample > div > div {
  display: inline-block;
  background-color: #444;
  border: 1px solid #333;
  border-radius: 1px;
  width: 65px;
  box-shadow: inset 0 0 2px 0 #333;
  margin: 2px;
}

#color-details {
  .color-detail {
    margin: 2px;

    label {
      width: 10px;
      display: inline-block;
      margin: 0 5px;
    }

    input {
      width: 60px;
    }
  }
}
