.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#color-controls {
  display: inline-block;
  padding: 5px;

  canvas {
    border: 1px solid black;
    margin: 2px;
  }
}

#hex-color {
  font-family: monospace;
}

#color-details {
  & > div {
    width: 50%;

    &:first-child {
      border-right: 1px solid #333;
    }

    &:last-child {
      text-align: end;
    }
  }

  .color-detail {
    margin: 2px;

    label {
      width: 10px;
      display: inline-block;
      margin: 0 5px;
    }

    input {
      width: 50px;
    }
  }
}
