html, body {
  height: 100%;
}

body {
  background-color: #555;
  margin: 0;
  padding: 0;
  color: #ccc;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

input, select {
  box-shadow: inset 0 0 3px 0 #333;
  border: 1px solid #333;
  background-color: #444;
  color: #ccc;
  border-radius: 1px;
}

input {
  width: 65px;
  height: 15px;
  font-size: 13px;

  &:focus {
    outline: none;
  }
}

.modal-container {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  & .modal {
    position: absolute;
    width: 500px;
    top: 70px;
    left: 325px;
    border: 1px solid #333;
    border-radius: 2px;
    background-color: #444;
    box-shadow: 1px 1px 5px 0 #333;
  }

  & .hidden {
    display: none;
  }
}
